/* here you can put your own css to customize and override the theme */
.spinner {
  width: 30px;
  height: 30px;
  background-color: #271BE5;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { 
      -webkit-transform: perspective(120px);
      background-color: #E11BE5;
  }
  50% { 
      -webkit-transform: perspective(120px) rotateY(180deg) ;
      background-color: #0CC31E;
  }
  100% { 
      -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
      background-color: #EBFC4E;
  }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}