<div class="col-md-12 col-sm-12">
    <h1>Sound Cloud</h1>
    <div class="content-page">
        <div class="row">
            <div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>General
                        </div>
                    </div>


                </div>
                
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-play"></i>PIE Chart
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="chart1"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->