<div class="col-md-12 col-sm-12">
    <h1>Sound Cloud</h1>
    <div class="content-page">
        <div class="row">
            <div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>General
                        </div>
                        <div class="tools">
                            <a class="collapse" href="javascript:;">
                            </a>
                            <a class="config" data-toggle="modal" href="#portlet-config">
                            </a>
                            <a class="reload" href="javascript:;">
                            </a>
                            <a class="remove" href="javascript:;">
                            </a>
                        </div>
                    </div>


                </div>
                
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-play"></i>Deezer
                        </div>
                    </div>
                    <div class="portlet-body">
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->