<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-12">
    <h1>Twitter</h1>
    <div class="content-page">
        <div class="row">
            <div>
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>General
                        </div>
                        <div class="tools">
                            <a class="collapse" href="javascript:;">
                            </a>
                            <a class="config" data-toggle="modal" href="#portlet-config">
                            </a>
                            <a class="reload" href="javascript:;">
                            </a>
                            <a class="remove" href="javascript:;">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <pre>{{followers}}</pre>
                        <button class="btn btn-warning" ng-click="getFollowers()">Get followers</button>


                        <p></p>
                        <p></p>
                        <fieldset class="row">
                            <div class="col-md-6">
                                <legend>Get user</legend>

                                <div class="form-group">
                                    <label>Twitter Screen name</label>
                                    <input placeholder="Your twitter name ..." type="text" ng-model="screen_name" class="form-control" />
                                </div>
                                <p class="btn-group">
                                    <button class="btn btn-warning" ng-click="getUser(screen_name)">Get User</button>
                                </p>
                                <pre>{{user}}</pre>
                            </div>
                        </fieldset>
                       
                        
                        <p></p>
                        <p></p>
                        <fieldset class="row">
                            <div class="col-md-6">
                                <legend>Search user</legend>

                                <div class="form-group">
                                    <label>Query</label>
                                    <input placeholder="Search ..." type="text" ng-model="q" class="form-control" />
                                </div>
                                <p class="btn-group">
                                    <button class="btn btn-primary" ng-click="searchUsers(q)">Search</button>
                                </p>
                                <div ng-repeat="row in results">
                                    <div class="entity">
                                        <h2>{{row.name}}</h2>
                                        <table class="table">
                                            <tr>
                                                <th>Id</th>
                                                <td>{{row.id}}</td>
                                            </tr>
                                            <tr>
                                                <th>Url</th>
                                                <td>{{row.url}}</td>
                                            </tr>
                                            <tr>
                                                <th>Description</th>
                                                <td>{{row.description}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div style="height: 300px;background: red;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->